.textFinal {
  background: #283048;
  background: -webkit-linear-gradient(to right, #859398, #283048);
  background: linear-gradient(to right, #859398, #283048);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  color: white;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
