<div class="contenedor">
  <div class="card bg-light">
    <div class="card-body">
      <h5 class="card-title">Listado de clientes <i class="fas fa-users"></i></h5>
      <a routerLink="/mi-tienda/clientes" class="btn btn-primary">Ir</a>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body">
      <h5 class="card-title">Listado de productos <i class="fas fa-dolly"></i></h5>
      <a routerLink="/mi-tienda/productos" class="btn btn-primary">Ir</a>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body">
      <h5 class="card-title">Realizar orden <i class="fas fa-cart-plus"></i></h5>
      <a routerLink="/mi-tienda/ordenes" class="btn btn-primary">Ir</a>
    </div>
  </div>
</div>
