<div class="container mt-5">
  <h3 class="titulo">Nuevo cliente <i class="fas fa-user"></i></h3>
  <form [formGroup]="clientesForm" (ngSubmit)="agregarCliente()">
    <div class="row frmBody">
      <div class="col">
        <label> Identificador: </label>
        <input type="text" class="form-control" formControlName="id" placeholder="Identificador">
        <div class="alerta-danger" *ngIf="id.invalid && (id.dirty || id.touched || inputErr)">
          <div class="message-alert">
            Este campo es requerido.
          </div>
        </div>
      </div>
      <div class="col">
        <label> Nombres: </label>
        <input type="text" class="form-control" formControlName="nombre" placeholder="Nombres">
        <div class="alerta-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched || inputErr)">
          <div class="message-alert" *ngIf="nombre.errors.required">
            Este campo es requerido.
          </div>
          <div class="message-alert" *ngIf="nombre.errors.onlyText">
            Solo se permiten letras.
          </div>
        </div>
      </div>
      <div class="col">
        <label> Apellidos: </label>
        <input type="text" class="form-control" formControlName="apellidos" placeholder="Apellidos">
        <div class="alerta-danger" *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched || inputErr)">
          <div class="message-alert" *ngIf="apellidos.errors.required">
            Este campo es requerido.
          </div>
          <div class="message-alert" *ngIf="apellidos.errors.onlyText">
            Solo se permiten letras.
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!load; else loading" class="mt-4 content-btn">
      <button class="btn btn-info save-w100" type="submit">Enviar</button>
    </div>
    <ng-template #loading>
      <div class="mt-4">
        <button class="btn btn-info save-w100 disabled" type="button"><i class="fas fa-spinner fa-spin"></i></button>
      </div>
    </ng-template>
  </form>
</div>
