<div class="container mt-4">
  <h3 class="titulo">Nueva Orden <i class="fas fa-shopping-cart"></i></h3>
  <form [formGroup]="formOrden" (ngSubmit)="realizarOrden()">
    <div class="row frmBody">
      <div class="col">
        <label> Identificador: </label>
        <input type="text" class="form-control" formControlName="id" placeholder="Identificador">
        <div class="alerta-danger" *ngIf="id.invalid && (id.dirty || id.touched || messageError)">
          <div class="message-alert">
            Este campo es requerido.
          </div>
        </div>
      </div>

      <div class="col">
        <label> Clientes: </label>
        <select class="form-control" formControlName="idCliente">
          <option *ngFor="let cliente of clientes" value="{{cliente.id}}">{{cliente.nombre}}</option>
        </select>
        <div class="alerta-danger" *ngIf="idCliente.invalid && (idCliente.dirty || idCliente.touched || messageError)">
          <div class="message-alert">
            Este campo es requerido.
          </div>
        </div>
      </div>

      <div class="col">
        <label> Productos: </label>
        <select class="form-control" formControlName="idProducto">
          <option *ngFor="let producto of productos" value="{{producto.id}}">{{producto.nombre}}</option>
        </select>
        <div class="alerta-danger" *ngIf="idProducto.invalid && (idProducto.dirty || idProducto.touched || messageError)">
          <div class="message-alert">
            Este campo es requerido.
          </div>
        </div>
      </div>
    </div>
    <div class="row frmBody mt-4">
      <div class="col">
        <label> Cantidad: </label>
        <input type="text" class="form-control" formControlName="cantidad" placeholder="Cantidad">
        <div class="alerta-danger" *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched || messageError)">
          <div class="message-alert">
            Este campo es requerido.
          </div>
        </div>
      </div>
      <div class="col">
        <label> Fecha: </label>
        <input type="date" class="form-control" formControlName="fecha">
        <div class="alerta-danger" *ngIf="fecha.invalid && (fecha.dirty || fecha.touched || messageError)">
          <div class="message-alert">
            Este campo es requerido.
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!load; else loading" class="mt-4">
      <button class="btn btn-info btn-block" type="submit">Enviar</button>
    </div>
    <ng-template #loading>
      <div class="mt-4">
        <button class="btn btn-info btn-block disabled" type="button"><i class="fas fa-spinner fa-spin"></i></button>
      </div>
    </ng-template>
  </form>
</div>
